<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Liveticker.html
-->

<div class="post-grid-item col-lg-4 col-md-6 mb-4">
    <f:link.action action="livetickerDetail" arguments="{liveBlog:liveBlog}">
        <div class="card h-100">
            <f:if condition="{liveBlog.images}">
                <div class="card-image">
                    <f:for each="{liveBlog.images.image}" as="image">
                        <f:image class="card-img-top" src="{image.originalresource.publicurl}" />
                    </f:for>

                </div>
            </f:if>
            <div class="card-body">
                <div class="categories">
                    <f:if condition="{liveBlog.liveblogCategoryId}">
                        <f:for each="{liveBlog.liveblogCategoryId}" as="category">
                            <span class="main-category">{category.title}</span>
                        </f:for>
                    </f:if>
                </div>
                <div class="card-text">
                    <f:if condition="{liveBlog.title}">
                        <h4 class="card-title">{liveBlog.title}</h4>
                    </f:if>
                    <f:if condition="{liveBlog.description}">
                        <p class="card-text">{liveBlog.description -> f:format.crop(maxCharacters: '200', respectWordBoundaries:'1') -> f:format.html()}</p>
                    </f:if>
                </div>

            </div>
        </div>
    </f:link.action>
</div>

</html>
