<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:if condition="{newsItem.alternativeTitle}">
	<f:then><n:metaTag property="og:title" content="{newsItem.alternativeTitle}" /></f:then>
	<f:else><n:metaTag property="og:title" content="{newsItem.header.title}" /></f:else>
</f:if>

<f:if condition="{newsItem.header}">
	<n:metaTag
			property="og:image"
			content="{f:uri.image(src:'{newsItem.header.image.0.image.0.uid}', treatIdAsReference:1, maxWidth:'1200')}"
			forceAbsoluteUrl="1" />
</f:if>
<f:if condition="{newsItem.description}">
	<f:then>
		<n:metaTag name="description" content="{newsItem.description}" />
		<n:metaTag property="og:description" content="{newsItem.description}" />
	</f:then>
	<f:else if="{newsItem.teaser}">
		<n:metaTag name="description" content="{newsItem.teaser -> f:format.stripTags()}" />
		<n:metaTag property="og:description" content="{newsItem.teaser -> f:format.stripTags()}" />
	</f:else>
	<f:else if="{newsItem.header}">
		<n:metaTag name="description" content="{newsItem.header.description -> f:format.stripTags()}" />
		<n:metaTag property="og:description" content="{newsItem.header.description -> f:format.stripTags()}" />
	</f:else>
</f:if>
<f:if condition="{settings.cssFile}">
	<n:includeFile path="{settings.cssFile}" />
</f:if>
<div class="news news-single">
	<div class="article" itemscope="itemscope" itemtype="http://schema.org/Article">
		<f:render section="content" />
	</div>
</div>
</html>