<div id="picture-link">
    <header class="info">
        <div class="row d-flex align-items-center">
            <span>
                <f:format.date format="H:i">{post.timelineTimestamp}</f:format.date> &nbsp;&nbsp;|&nbsp;&nbsp; <f:format.date format="%d. %B %Y">{post.timelineTimestamp}</f:format.date>
            </span>
            <f:if condition="{post.title}">
                <h4 class="col-xl-5 col-md-5 col-sm-10">{post.title}</h4>
            </f:if>
        </div>
    </header>
    <div class="video-desc">
        <f:if condition="{post.text}">
            <f:format.html>{post.text}</f:format.html>
        </f:if>
        <f:if condition="{post.embedCode}">
            <f:format.htmlentitiesDecode>{post.embedCode}</f:format.htmlentitiesDecode>
        </f:if>
    </div>
    <div class="clear"></div>


</div>