
<div class="game-description">
    <div class="row">
        <div class="game-time">
            <f:if condition="{post.periods} == 'PENALTIES'">
                <f:then>
                    <span>Penalty Shoot-out</span>
                </f:then>
                <f:else>
                    <span>{post.minute}'
                        <f:if condition="{post.stoppageTime}">
                            +{post.stoppageTime}'
                        </f:if>
                    </span>
                </f:else>
            </f:if>
        </div>
        <f:if condition="{post.title}">
            <f:if condition="{post.type} == 'INJURY_TIME_SHOWN'">
                <f:then>
                    <h4>Injury time: + {post.injuryTime}'</h4>
                </f:then>
                <f:else if="{post.type} == 'PERIOD_SCORE'">
                    <f:if condition="{post.title} == 'period_score'">
                        <h4>Period Score</h4>
                    </f:if>
                </f:else>
                <f:else>
                    <h4>{post.title}</h4>
                </f:else>
            </f:if>
        </f:if>
    </div>
    <hr />
    <div class="information">
        <div class="row m-0">

                    <div class="game-icon">
                        <f:if condition="{post.type} == 'FREE_KICK'">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/free_kick.svg" />
                        </f:if>
                        <f:if condition="{post.type} == 'CORNER_KICK'">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/corner_kick.svg" />
                        </f:if>
                        <f:if condition="{post.type} == 'GOAL_KICK'">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/location_on.svg" />
                        </f:if>
                        <f:if condition="{post.type} == 'THROW_IN'">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/location_on.svg" />
                        </f:if>
                        <f:if condition="{post.type} == 'INJURY' || {post.type} == 'INJURY_RETURN' || {post.type} == 'PENALTY_SHOOTOUT' || {post.type} == 'OFFSIDE' || {post.type} == 'SHOT_SAVED'  || {post.type} == 'PENALTY_AWARDED'">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/soccer.svg" />
                        </f:if>
                        <f:if condition="{post.type} == 'INJURY_TIME_SHOWN'">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/extra_time.svg" />
                        </f:if>
                        <f:if condition="{post.type} == 'POSSIBLE_GOAL' || {post.type} == 'SCORE_CHANGE'">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/goal.svg" />
                        </f:if>
                        <f:if condition="{post.type} == 'SHOT_ON_TARGET'">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/location_off.svg" />
                        </f:if>
                        <f:if condition="{post.type} == 'SUBSTITUTION'">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/up_down_arrow.svg" />
                        </f:if>
                        <f:if condition="{post.type} == 'YELLOW_CARD'">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/yellow_card.svg" />
                        </f:if>
                        <f:if condition="{post.type} == 'YELLOW_RED_CARD'">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/yellow_red_card.svg" />
                        </f:if>
                        <f:if condition="{post.type} == 'SHOT_OFF_TARGET'">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/location_on.svg" />
                        </f:if>
                        <f:if condition="{post.type} == 'PERIOD_SCORE'">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/whistle.svg" />
                        </f:if>
                    </div>
                    <f:if condition="{post.type} == 'SUBSTITUTION'">
                        <div class="liveticker-info ml-3">
                            <div style="margin-bottom:11px;">
                                <f:for each="{post.players}" as="player">

                                    <f:if condition="{player.type} == 'SUBSTITUTED_OUT'">
                                        <span class="liveticker-substituted-out-button">Raus</span>
                                    </f:if>
                                    <f:if condition="{player.type} == 'SUBSTITUTED_IN'">
                                        <span class="liveticker-substituted-in-button">Rein</span>
                                    </f:if>
                                    <strong>
                                        {player.name}
                                    </strong>
                                    <br>
                                </f:for>
                            </div>
                        </div>
                    </f:if>
                    <div class="game-information col-xl-11 col-md-8 col-10">
                        <f:if condition="{post.text}">
                            <f:then>
                                <f:format.html>{post.text}</f:format.html>
                            </f:then>
                            <f:else>
                                <f:if condition="{post.type} == 'INJURY_TIME_SHOWN'">
                                    <f:if condition="{post.injuryTime}">
                                        <p>Injury time:{post.injuryTime} minutes</p>
                                    </f:if>
                                </f:if>
                                <f:if condition="{post.type} == 'SCORE_CHANGE'">
                                    <div class="row center-block align-items-center">
                                        <f:for each="{post.blog.homeCompetitor}" as="homeCompetitor">
                                            <h4 class="pt-0 mb-0 mr-3">{homeCompetitor.name}</h4>
                                        </f:for>

                                        <span>{post.homeScore} : {post.awayScore}</span>
                                        <f:for each="{post.blog.awayCompetitor}" as="awayCompetitor">
                                            <h4 class="pt-0 mb-0">{awayCompetitor.name}</h4>
                                        </f:for>
                                    </div>
                                </f:if>
                                <f:if condition="{post.type} == 'SHOT_SAVED'">
                                    <p>Shot Saved</p>
                                </f:if>
                                <f:if condition="{post.type} == 'GOAL_KICK'">
                                    <p>Goal Kick</p>
                                </f:if>
                                <f:if condition="{post.type} == 'FREE_KICK'">
                                    <p>Free Kick</p>
                                </f:if>
                                <f:if condition="{post.type} == 'CORNER_KICK'">
                                    <p>Corner Kick</p>
                                </f:if>
                                <f:if condition="{post.type} == 'THROW_IN'">
                                    <p>Throw In</p>
                                </f:if>
                                <f:if condition="{post.type} == 'INJURY'">
                                    <p>Injury</p>
                                </f:if>
                                <f:if condition="{post.type} == 'INJURY_RETURN'">
                                    <p>Injury Return</p>
                                </f:if>
                                <f:if condition="{post.type} == 'OFFSIDE'">
                                    <p>Offside</p>
                                </f:if>
                                <f:if condition="{post.type} == 'POSSIBLE_GOAL'">
                                    <p>Possible Goal</p>
                                </f:if>
                                <f:if condition="{post.type} == 'PENALTY_SHOOTOUT'">
                                    <p>Penalty Shootout</p>
                                </f:if>
                                <f:if condition="{post.type} == 'SHOT_ON_TARGET'">
                                    <p>Shot On Target</p>
                                </f:if>
                                <f:if condition="{post.type} == 'YELLOW_CARD'">
                                    <p>Yellow Card</p>
                                </f:if>
                                <f:if condition="{post.type} == 'YELLOW_RED_CARD'">
                                    <p>Yellow Red Card</p>
                                </f:if>
                                <f:if condition="{post.type} == 'SHOT_OFF_TARGET'">
                                    <p>Shot Off Target</p>
                                </f:if>
                                <f:if condition="{post.type} == 'PERIOD_SCORE'">
                                    <p>Period Score</p>
                                </f:if>
                                <f:if condition="{post.type} == 'PENALTY_AWARDED'">
                                    <p>Penalty Awarded</p>
                                </f:if>
                            </f:else>
                        </f:if>

                    </div>


            <div class="clear"></div>
        </div>
    </div>
</div>
