
<f:if condition="{post.type} == 'MATCH_STARTED'">
    <div class="live-score_textarea">
        <div class="row">
            <span class="text d-flex align-items-center">MATCH STARTED!</span>
            <f:for each="{post.blog.homeCompetitor}" as="homeCompetitor">
                <img src="{homeCompetitor.images.image.0.originalresource.publicurl}" class="team-logo" />
            </f:for>

            <div class="score d-flex align-items-center">{post.homeScore} : {post.awayScore}</div>
            <f:for each="{post.blog.awayCompetitor}" as="awayCompetitor">
                <img src="{awayCompetitor.images.image.0.originalresource.publicurl}" class="team-logo" />
            </f:for>
        </div>

    </div>
</f:if>
<f:if condition="{post.type} == 'MATCH_ENDED'">
    <div class="live-score_textarea">
        <div class="row">
            <span class="text d-flex align-items-center">MATCH ENDED!</span>
            <f:for each="{post.blog.homeCompetitor}" as="homeCompetitor">
                <img src="{homeCompetitor.images.image.0.originalresource.publicurl}" class="team-logo" />
            </f:for>

            <div class="score d-flex align-items-center">{post.homeScore} : {post.awayScore}</div>
            <f:for each="{post.blog.awayCompetitor}" as="awayCompetitor">
                <img src="{awayCompetitor.images.image.0.originalresource.publicurl}" class="team-logo" />
            </f:for>
        </div>
    </div>
</f:if>
<f:if condition="{post.type} == 'BREAK_START'">
    <div class="live-score_textarea">
        <div class="row">
            <span class="text d-flex align-items-center">BREAK START!</span>
            <f:for each="{post.blog.homeCompetitor}" as="homeCompetitor">
                <img src="{homeCompetitor.images.image.0.originalresource.publicurl}" class="team-logo" />
            </f:for>

            <div class="score d-flex align-items-center">{post.homeScore} : {post.awayScore}</div>
            <f:for each="{post.blog.awayCompetitor}" as="awayCompetitor">
                <img src="{awayCompetitor.images.image.0.originalresource.publicurl}" class="team-logo" />
            </f:for>
        </div>
    </div>
</f:if>