

<div class="game-description">
    <div class="row">

        <div class="game-time">
            <f:if condition="{post.periods} == 'PENALTIES'">
                <span>Penalty Shoot-out</span>
                <f:then>
                    <span>Penalty Shoot-out</span>
                </f:then>
                <f:else>
                    <span>{post.minute}</span>
                </f:else>
            </f:if>
        </div>
        <f:if condition="{post.periods} == 'PENALTIES'">
            <h4>PENALTIES START</h4>
        </f:if>
    </div>
    <hr>
    <div class="information">
        <div class="row m-0">
            <div class="game-icon">
                <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/whistle.svg">
            </div>
            <div class="game-information col-xl-11 col-md-8 col-10">
                <f:if condition="{post.periods} == 'FIRST'">
                    <p>FIRST PERIOD START</p>
                </f:if>
                <f:if condition="{post.periods} == 'SECOND'">
                    <p>SECOND PERIOD START</p>
                </f:if>
                <f:if condition="{post.periods} == 'PENALTIES'">
                    <p>PERIOD START</p>
                </f:if>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>
