
<f:if condition="{post.publicationId.newsType} == 'VIDEO'">
    <div id="video">
        <header class="info">
            <div class="row d-flex align-items-center">
                <span>
                    <f:format.date format="H:i">{post.timelineTimestamp}</f:format.date> &nbsp;&nbsp;|&nbsp;&nbsp; <f:format.date format="%d. %B %Y">{post.timelineTimestamp}</f:format.date>
                </span>
                <f:if condition="{post.title}">
                    <h4 class="col-xl-5 col-md-5 col-sm-10">{post.title}</h4>
                </f:if>
            </div>
        </header>
        <div class="video-desc">
            <f:if condition="{post.text}">
                <f:format.html>{post.text}</f:format.html>
            </f:if>
            <f:if condition="{post.publicationId.bodytext}">
                <f:format.htmlentitiesDecode>{post.publicationId.bodytext}</f:format.htmlentitiesDecode>
            </f:if>
        </div>
    </div>
</f:if>
<f:if condition="{post.publicationId.newsType} == 'LINK'">
    <div id="picture-link3">
        <header class="info">
            <div class="row d-flex align-items-center">
                <span>
                    <f:format.date format="H:i">{post.timelineTimestamp}</f:format.date> &nbsp;&nbsp;|&nbsp;&nbsp; <f:format.date format="%d. %B %Y">{post.timelineTimestamp}</f:format.date>
                </span>
                <f:if condition="{post.title}">
                    <h4 class="col-xl-6 col-md-5 col-sm-10">{post.title}</h4>
                </f:if>
            </div>
        </header>
        <div class="clear"></div>
        <div class="picture-player3">
            <f:if condition="{post.publicationId.header.image.0.image.0.originalresource.publicurl}">
                <f:then>
                    <div class="picture-player_2-3" style="background-image: url({post.publicationId.header.image.0.image.0.originalresource.publicurl});">
                </f:then>
                <f:else>
                    <div class="picture-player_2-3" style="background-image: url({post.publicationId.header.image.0.url});">
                </f:else>
            </f:if>
                <div id="color3">
                    <div id="player-header3">
                        <f:if condition="{post.publicationId.header.title}">
                            <h1>
                                <f:link.action pluginName="pi1" extensionName="news" pageUid="{settings.detailPid}" controller="Publications" action="detail" arguments="{news: post.publicationId.uid,settings:settings}">
                                    {post.publicationId.header.title}
                                </f:link.action>

                            </h1>
                        </f:if>
                        <f:if condition="{post.publicationId.header.description}">
                            <h2>
                                <f:link.action pluginName="pi1" extensionName="news" pageUid="{settings.detailPid}" controller="Publications" action="detail" arguments="{news: post.publicationId.uid,settings:settings}">
                                   {post.publicationId.header.description}
                                </f:link.action>
                            </h2>
                        </f:if>
                    </div>
                    <div id="picture-buttons3">
                        <f:for each="{post.publicationId.tool}" as="button" iteration="iterator">
                            <f:if condition="{button.toolType}=='LINK'">
                                <f:for each="{button.reference}" as="reference">
                                    <a class='btn btn-default' href='{reference.linkUrl}' target='_blank'>
                                        <i class='fad icons8-upload_share'></i>{button.toolLabel}</a>
                                    </a>
                                </f:for>
                            </f:if>
                            <f:if condition="{button.toolType}=='SHARE'">
                                <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button" data-yawave-tool="share" data-yawave-publication="{post.publicationId.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" data-yawave-landing-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: post.publicationId}')}" data-yawave-referral-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: post.publicationId}')}">
                                    <i class="fad icons8-upload_share"></i>{button.toolLabel}
                                </button>
                            </f:if>
                            <f:if condition="{button.toolType}=='FEEDBACK'">
                                <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button" data-yawave-tool="feedback"  data-yawave-publication="{post.publicationId.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" data-yawave-landing-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: post.publicationId}')}" data-yawave-referral-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: post.publicationId}')}">
                                    <i class="fad icons8-upload_share"></i>{button.toolLabel}
                                </button>
                            </f:if>
                            <f:if condition="{button.toolType}=='SUBSCRIBE'">
                                <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button" data-yawave-tool="subscribe" data-yawave-publication="{newsItem.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" data-yawave-landing-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: newsItem}')}" data-yawave-referral-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: newsItem}')}">
                                    <i class="fad icons8-upload_share"></i>{button.toolLabel}
                                </button>
                            </f:if>
                            <f:if condition="{button.toolType}=='FORM'">
                                <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button" data-yawave-tool="form" data-yawave-publication="{newsItem.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" data-yawave-landing-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: newsItem}')}" data-yawave-referral-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: newsItem}')}">
                                    <i class="fad icons8-upload_share"></i>{button.toolLabel}
                                </button>
                            </f:if>
                            <f:if condition="{button.toolType}=='PAYMENT'">
                                <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button"  data-yawave-tool="payment" data-yawave-publication="{newsItem.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" >
                                    <i class="fad icons8-upload_share"></i>{button.toolLabel}
                                </button>
                            </f:if>
                        </f:for>
                    </div>
                    <div class="icons-icons3 d-flex align-items-center">
                        <div class="picture-icons3">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/views-icon_1.svg">
                            <span class="d-flex align-items-center">&nbsp;{post.publicationId.metric.views}</span>
                        </div>
                        <div class="picture-icons3">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/user-icon_1.svg">
                            <span class="d-flex align-items-center">&nbsp;{post.publicationId.metric.recipients}</span>
                        </div>
                        <div class="picture-icons3">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/activity-icon_1.svg">
                            <span class="d-flex align-items-center">&nbsp;{post.publicationId.metric.engagements}</span>
                        </div>
                    </div>
                    <div class="icon-arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z"></path>
                            <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 1.707V10.5a.5.5 0 0 1-1 0V1.707L5.354 3.854a.5.5 0 1 1-.708-.708l3-3z"></path>
                        </svg>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="video">

        <div class="video-desc">
            <f:if condition="{post.text}">
                <f:format.html>{post.text}</f:format.html>
            </f:if>
            <f:if condition="{post.publicationId.bodytext}">
                <f:format.htmlentitiesDecode>{post.publicationId.bodytext}</f:format.htmlentitiesDecode>
            </f:if>
        </div>
    </div>
</f:if>
<f:if condition="{post.publicationId.newsType} == 'PHOTO'">

</f:if>
<f:if condition="{post.publicationId.newsType} == 'LANDING_PAGE'">
    <div id="picture-link3">
        <header class="info">
            <div class="row d-flex align-items-center">
                <span>
                    <f:format.date format="H:i">{post.timelineTimestamp}</f:format.date> &nbsp;&nbsp;|&nbsp;&nbsp; <f:format.date format="%d. %B %Y">{post.timelineTimestamp}</f:format.date>
                </span>
                <f:if condition="{post.title}">
                    <h4 class="col-xl-6 col-md-5 col-sm-10">{post.title}</h4>
                </f:if>
            </div>
        </header>
        <div class="clear"></div>
        <div class="picture-player3">
            <div class="picture-player_2-3" style="background-image: url({f:if(condition: post.publicationId.header.image.0.image.0.originalresource.publicurl, then: post.publicationId.header.image.0.image.0.originalresource.publicurl, else: post.publicationId.header.image.0.url)});">
                <div id="color3">
                <div id="player-header3">
                    <f:if condition="{post.publicationId.header.title}">
                        <h1>
                            <f:link.action pluginName="pi1" extensionName="news" pageUid="{settings.detailPid}" controller="Publications" action="detail" arguments="{news: post.publicationId.uid,settings:settings}">
                                {post.publicationId.header.title}
                            </f:link.action>

                        </h1>
                    </f:if>
                    <f:if condition="{post.publicationId.header.description}">
                        <h2>
                            <f:link.action pluginName="pi1" extensionName="news" pageUid="{settings.detailPid}" controller="Publications" action="detail" arguments="{news: post.publicationId.uid,settings:settings}">
                                {post.publicationId.header.description}
                            </f:link.action>
                        </h2>
                    </f:if>
                </div>
                <div id="picture-buttons3">
                    <f:for each="{post.publicationId.tool}" as="button" iteration="iterator">
                        <f:if condition="{button.toolType}=='LINK'">
                            <f:for each="{button.reference}" as="reference">
                                <a class='btn btn-default' href='{reference.linkUrl}' target='_blank'>
                                    <i class='fad icons8-upload_share'></i>{button.toolLabel}</a>
                                </a>
                            </f:for>
                        </f:if>
                        <f:if condition="{button.toolType}=='SHARE'">
                            <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button" data-yawave-tool="share" data-yawave-publication="{post.publicationId.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" data-yawave-landing-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: post.publicationId}')}" data-yawave-referral-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: post.publicationId}')}">
                                <i class="fad icons8-upload_share"></i>{button.toolLabel}
                            </button>
                        </f:if>
                        <f:if condition="{button.toolType}=='FEEDBACK'">
                            <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button" data-yawave-tool="feedback"  data-yawave-publication="{post.publicationId.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" data-yawave-landing-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: post.publicationId}')}" data-yawave-referral-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: post.publicationId}')}">
                                <i class="fad icons8-upload_share"></i>{button.toolLabel}
                            </button>
                        </f:if>
                        <f:if condition="{button.toolType}=='SUBSCRIBE'">
                            <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button" data-yawave-tool="subscribe" data-yawave-publication="{newsItem.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" data-yawave-landing-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: newsItem}')}" data-yawave-referral-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: newsItem}')}">
                                <i class="fad icons8-upload_share"></i>{button.toolLabel}
                            </button>
                        </f:if>
                        <f:if condition="{button.toolType}=='FORM'">
                            <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button" data-yawave-tool="form" data-yawave-publication="{newsItem.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" data-yawave-landing-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: newsItem}')}" data-yawave-referral-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: newsItem}')}">
                                <i class="fad icons8-upload_share"></i>{button.toolLabel}
                            </button>
                        </f:if>
                        <f:if condition="{button.toolType}=='PAYMENT'">
                            <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button"  data-yawave-tool="payment" data-yawave-publication="{newsItem.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" >
                                <i class="fad icons8-upload_share"></i>{button.toolLabel}
                            </button>
                        </f:if>
                    </f:for>
                </div>
                <div class="icons-icons3 d-flex align-items-center">
                    <div class="picture-icons3">
                        <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/views-icon_1.svg">
                        <span class="d-flex align-items-center">&nbsp;{post.publicationId.metric.views}</span>
                    </div>
                    <div class="picture-icons3">
                        <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/user-icon_1.svg">
                        <span class="d-flex align-items-center">&nbsp;{post.publicationId.metric.recipients}</span>
                    </div>
                    <div class="picture-icons3">
                        <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/activity-icon_1.svg">
                        <span class="d-flex align-items-center">&nbsp;{post.publicationId.metric.engagements}</span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

</f:if>
<f:if condition="{post.publicationId.newsType} == 'NEWSLETTER'">
    <div id="video">
        <header class="info">
            <div class="row d-flex align-items-center">
                <span>
                    <f:format.date format="H:i">{post.timelineTimestamp}</f:format.date> &nbsp;&nbsp;|&nbsp;&nbsp; <f:format.date format="%d. %B %Y">{post.timelineTimestamp}</f:format.date>
                </span>
                <f:if condition="{post.title}">
                    <h4 class="col-xl-5 col-md-5 col-sm-10">{post.title}</h4>
                </f:if>
            </div>
        </header>
        <div class="video-desc">
            <f:if condition="{post.text}">
                <f:format.html>{post.text}</f:format.html>
            </f:if>
            <f:if condition="{post.publicationId.bodytext}">
                <f:format.htmlentitiesDecode>{post.publicationId.bodytext}</f:format.htmlentitiesDecode>
            </f:if>
        </div>
    </div>
</f:if>
<f:if condition="{post.publicationId.newsType} == 'EMBED_CODE'">
    <div id="instagram-page">
        <header class="info">
            <div class="row d-flex align-items-center">
                <f:format.date format="H:i">{post.timelineTimestamp}</f:format.date> &nbsp;&nbsp;|&nbsp;&nbsp; <f:format.date format="%d. %B %Y">{post.timelineTimestamp}</f:format.date>
                <f:if condition="{post.title}">
                    <h4 class="col-xl-5 col-md-5 col-sm-10">{post.title}</h4>
                </f:if>
            </div>
        </header>

        <div class="text_desc">
            <f:if condition="{post.text}">
                <f:format.html>{post.text}</f:format.html>
            </f:if>
            <f:if condition="{newsItem.url}">
                <div class="row col-xl-8 col-md-8 col-12">
                    <iframe class="instagram-media instagram-media-rendered"  id="instagram-embed-{post.uid}" name="iframe" scrolling="auto" frameborder="0" marginwidth="0" allow="autoplay" marginheight="0" title="" src="{post.publicationId.url}" height="{post.publicationId.pageHeight}px">
                    </iframe>
                    <script async="" src="//www.instagram.com/embed.js"></script>
                </div>
            </f:if>
        </div>
    </div>
</f:if>
<f:if condition="{post.publicationId.newsType} == 'ARTICLE'">
    <div id="picture-link3">
        <header class="info">
            <div class="row d-flex align-items-center">
                <span>
                    <f:format.date format="H:i">{post.timelineTimestamp}</f:format.date> &nbsp;&nbsp;|&nbsp;&nbsp; <f:format.date format="%d. %B %Y">{post.timelineTimestamp}</f:format.date>
                </span>
                <f:if condition="{post.title}">
                    <h4 class="col-xl-6 col-md-5 col-sm-10">{post.title}</h4>
                </f:if>
            </div>
        </header>
        <div class="clear"></div>
        <div class="picture-player3">
            <div class="picture-player_2-3" style="background-image: url({f:if(condition: post.publicationId.header.image.0.image.0.originalresource.publicurl, then: post.publicationId.header.image.0.image.0.originalresource.publicurl, else: post.publicationId.header.image.0.url)});">
                <div id="color3">
                    <div id="player-header3">
                        <f:if condition="{post.publicationId.header.title}">
                            <h1>
                                <f:link.action pluginName="pi1" extensionName="news" pageUid="{settings.detailPid}" controller="Publications" action="detail" arguments="{news: post.publicationId.uid,settings:settings}">
                                    {post.publicationId.header.title}
                                </f:link.action>

                            </h1>
                        </f:if>
                        <f:if condition="{post.publicationId.header.description}">
                            <h2>
                                <f:link.action pluginName="pi1" extensionName="news" pageUid="{settings.detailPid}" controller="Publications" action="detail" arguments="{news: post.publicationId.uid,settings:settings}">
                                    {post.publicationId.header.description}
                                </f:link.action>
                            </h2>
                        </f:if>
                    </div>
                    <div id="picture-buttons3">
                        <f:for each="{post.publicationId.tool}" as="button" iteration="iterator">
                            <f:if condition="{button.toolType}=='LINK'">
                                <f:for each="{button.reference}" as="reference">
                                    <a class='btn btn-default' href='{reference.linkUrl}' target='_blank'>
                                        <i class='fad icons8-upload_share'></i>{button.toolLabel}</a>
                                    </a>
                                </f:for>
                            </f:if>
                            <f:if condition="{button.toolType}=='SHARE'">
                                <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button" data-yawave-tool="share" data-yawave-publication="{post.publicationId.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" data-yawave-landing-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: post.publicationId}')}" data-yawave-referral-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: post.publicationId}')}">
                                    <i class="fad icons8-upload_share"></i>{button.toolLabel}
                                </button>
                            </f:if>
                            <f:if condition="{button.toolType}=='FEEDBACK'">
                                <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button" data-yawave-tool="feedback"  data-yawave-publication="{post.publicationId.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" data-yawave-landing-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: post.publicationId}')}" data-yawave-referral-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: post.publicationId}')}">
                                    <i class="fad icons8-upload_share"></i>{button.toolLabel}
                                </button>
                            </f:if>
                            <f:if condition="{button.toolType}=='SUBSCRIBE'">
                                <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button" data-yawave-tool="subscribe" data-yawave-publication="{newsItem.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" data-yawave-landing-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: newsItem}')}" data-yawave-referral-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: newsItem}')}">
                                    <i class="fad icons8-upload_share"></i>{button.toolLabel}
                                </button>
                            </f:if>
                            <f:if condition="{button.toolType}=='FORM'">
                                <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button" data-yawave-tool="form" data-yawave-publication="{newsItem.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" data-yawave-landing-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: newsItem}')}" data-yawave-referral-url="{siteDomain}{f:uri.action(extensionName: 'news', pluginName: 'pi1', pageUid: settings.detailPid, action: 'detail', arguments: '{news: newsItem}')}">
                                    <i class="fad icons8-upload_share"></i>{button.toolLabel}
                                </button>
                            </f:if>
                            <f:if condition="{button.toolType}=='PAYMENT'">
                                <button class="btn btn-default" onclick="YawaveSDK.handleButtonClick(this)" data-yawave-type="button"  data-yawave-tool="payment" data-yawave-publication="{newsItem.yawavePublicationId}" data-yawave-id="{button.yawaveToolsId}" >
                                    <i class="fad icons8-upload_share"></i>{button.toolLabel}
                                </button>
                            </f:if>
                        </f:for>
                    </div>
                    <div class="icons-icons3 d-flex align-items-center">
                        <div class="picture-icons3">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/views-icon_1.svg">
                            <span class="d-flex align-items-center">&nbsp;{post.publicationId.metric.views}</span>
                        </div>
                        <div class="picture-icons3">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/user-icon_1.svg">
                            <span class="d-flex align-items-center">&nbsp;{post.publicationId.metric.recipients}</span>
                        </div>
                        <div class="picture-icons3">
                            <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/activity-icon_1.svg">
                            <span class="d-flex align-items-center">&nbsp;{post.publicationId.metric.engagements}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:if>


<script>
    (function (d, s, id) {
        var js, yjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://app.<f:format.raw>{apiDomain}</f:format.raw>/sdk/init?lang=<f:format.raw>{currentlanguage}</f:format.raw>&appId=<f:format.raw>{appId}</f:format.raw>";
        yjs.parentNode.insertBefore(js, yjs);
    }(document, 'script', 'yawave-jssdk'));
</script>