
<div class="game-description">
    <div class="row">
        <div class="game-time">
            <span>{post.minute}'</span>
        </div>
        <f:if condition="{post.title}">
            <h4>{post.title}</h4>
        </f:if>
    </div>
    <hr />
    <div class="information">
        <div class="row m-0">
            <f:if condition="{post.text}">
                <div class="game-icon">
                    <img src="typo3conf/ext/yawave/Resources/Public/Livticker/icons/throw_in.svg" />
                </div>

                <div class="game-information col-xl-11 col-md-8 col-10">
                    <f:format.html>{post.text}</f:format.html>
                </div>
            </f:if>

            <div class="clear"></div>
        </div>
    </div>
</div>
