<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
      xmlns:video="http://typo3.org/ns/Yawave/Yawave/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Detail" />

<!--
	=====================
		News/Detail.html
-->
<f:section name="HeaderAssets">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <link rel="stylesheet" href="typo3conf/ext/yawave/Resources/Public/Livticker/css/style.css"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Nunito Sans:200,900,800,700,600&amp;display=swap&amp;ver=1600034409">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito Sans:200,900,800,700,600&amp;display=swap&amp;ver=1600034409" media="all" onload="this.media='all'">
</f:section>
<f:section name="content">
    <f:if condition="{liveBlog}">
        <f:if condition="{liveBlog.images}">
            <f:for each="{liveBlog.images.image}" as="image">
                <div class="cover-background-header" style="background: url({image.originalresource.publicurl}) no-repeat center center fixed;">
                    <header class="masthead focuspoint">
                        <div class="layer">
                            <div class="yawave-header">
                                <div class="yawave-header-container row align-items-center">
                                    <div id='yawave-header'>
                                        <h1>{liveBlog.title}</h1>
                                        <h2>{liveBlog.description}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
            </f:for>
        </f:if>
        <div class="container col-sm-12 col-md-8" id="mainbody">
            <div class="verticalLine"></div>
            <header class="top_page">
                <h4>Ticker</h4>
                <img src="typo3conf/ext/yawave/Resources/Public/Livticker/images/20min.png" alt="20min" id="logomin"/>
                <p>präsentiert von</p><br/>
                <small>Nächste Aktualisierung in <span>3</span> Sekunden</small>
            </header>
            <f:if condition="{liveBlog.post}">
                <f:for each="{liveBlog.post}" as="post">
                    <f:comment>
                        <f:if condition="{post.type} == 'MATCH_STARTED'">
                            <f:render partial="Liveticker/Matchstarted" arguments="{post:post}" />
                        </f:if>
                        <f:if condition="{post.type} == 'PERIOD_START'">
                            <f:render partial="Liveticker/Periodstart" arguments="{post:post}" />
                        </f:if>
                        <f:if condition="{post.type} == 'THROW_IN'">
                            <f:render partial="Liveticker/Throwin" arguments="{post:post}" />
                        </f:if>
                    </f:comment>

                        <f:render partial="Liveticker/Matchstarted" arguments="{post:post}" />

                </f:for>
            </f:if>
        </div>
    </f:if>
</f:section>
</html>
