
<f:if condition="{post.type} == 'MATCH_STARTED' || {post.type} == 'MATCH_ENDED' || {post.type} == 'BREAK_START'">
    <f:render partial="Liveticker/Matchstarted" arguments="{post:post,settings:settings}" />
</f:if>
<f:if condition="{post.type} == 'PERIOD_START'">
    <f:render partial="Liveticker/Periodstart" arguments="{post:post,settings:settings}" />
</f:if>
<f:if condition="{post.type} == 'FREE_KICK' || {post.type} == 'CORNER_KICK' || {post.type} == 'GOAL_KICK'  || {post.type} == 'THROW_IN' || {post.type} == 'INJURY'|| {post.type} == 'INJURY_RETURN' || {post.type} == 'INJURY_TIME_SHOWN' || {post.type} == 'OFFSIDE' || {post.type} == 'POSSIBLE_GOAL' || {post.type} == 'SCORE_CHANGE' || {post.type} == 'PENALTY_SHOOTOUT' || {post.type} == 'SHOT_SAVED' || {post.type} == 'SHOT_ON_TARGET' || {post.type} == 'SUBSTITUTION' || {post.type} == 'YELLOW_CARD' || {post.type} == 'YELLOW_RED_CARD' || {post.type} == 'SHOT_OFF_TARGET' || {post.type} == 'PERIOD_SCORE' || {post.type} == 'PENALTY_AWARDED'">
    <f:render partial="Liveticker/FreeKick" arguments="{post:post,settings:settings}" />
</f:if>
<f:if condition="{post.source} == 'MANUAL'">
    <f:if condition="{post.publicationId}">
        <f:render partial="Liveticker/Publications" arguments="{post:post,settings:settings,siteDomain:siteDomain,apiDomain:apiDomain,currentlanguage:currentlanguage,appId:appId}" />
    </f:if>
    <f:if condition="{post.embedCode}">
        <f:render partial="Liveticker/EmbedCode" arguments="{post:post,settings:settings,siteDomain:siteDomain,apiDomain:apiDomain,currentlanguage:currentlanguage,appId:appId}" />
    </f:if>
    <f:if condition="{post.url}">
        <f:render partial="Liveticker/Link" arguments="{post:post,settings:settings,siteDomain:siteDomain,apiDomain:apiDomain,currentlanguage:currentlanguage,appId:appId}" />
    </f:if>
    <f:if condition="{post.type} == ''">
        <f:render partial="Liveticker/FreeKick" arguments="{post:post,settings:settings,siteDomain:siteDomain,apiDomain:apiDomain,currentlanguage:currentlanguage,appId:appId}" />
    </f:if>
</f:if>



<f:comment>
    <f:if condition="{post.type} == 'CANCELED_DECISION_TO_VAR'">
        <f:render partial="Liveticker/CanceledDecisionToVar" arguments="{post:post}" />
    </f:if>
    <f:if condition="{post.type} == 'DECISION_TO_VAR'">
        <f:render partial="Liveticker/DecisionToVar" arguments="{post:post}" />
    </f:if>
    <f:if condition="{post.type} == 'DECISION_TO_VAR_OVER'">
        <f:render partial="Liveticker/DecisionToVarOver" arguments="{post:post}" />
    </f:if>
    <f:if condition="{post.type} == 'PENALTY_AWARDED'">
        <f:render partial="Liveticker/PenaltyAwarded" arguments="{post:post}" />
    </f:if>
    <f:if condition="{post.type} == 'PENALTY_KICK'">
        <f:render partial="Liveticker/PenaltyKick" arguments="{post:post}" />
    </f:if>
    <f:if condition="{post.type} == 'PENALTY_MISSED'">
        <f:render partial="Liveticker/PenaltyMissed" arguments="{post:post}" />
    </f:if>
    <f:if condition="{post.type} == 'PLAYER_BACK_FROM_INJURY'">
        <f:render partial="Liveticker/PlayerBackFromInjury" arguments="{post:post}" />
    </f:if>
    <f:if condition="{post.type} == 'POSSIBLE_DECISION_TO_VAR'">
        <f:render partial="Liveticker/PossibleDecisionToVar" arguments="{post:post}" />
    </f:if>
    <f:if condition="{post.type} == 'RED_CARD'">
        <f:render partial="Liveticker/RedCard" arguments="{post:post}" />
    </f:if>
    <f:if condition="{post.type} == 'SAVE'">
        <f:render partial="Liveticker/Save" arguments="{post:post}" />
    </f:if>
    <f:if condition="{post.type} == 'SHOT_OFF_TARGET'">
        <f:render partial="Liveticker/ShotOffTarget" arguments="{post:post}" />
    </f:if>
    <f:if condition="{post.type} == 'VIDEO_ASSISTANT_REFEREE'">
        <f:render partial="Liveticker/VideoAssistantReferee" arguments="{post:post}" />
    </f:if>
    <f:if condition="{post.type} == 'VIDEO_ASSISTANT_REFEREE_OVER'">
        <f:render partial="Liveticker/VideoAssistantRefereeOver" arguments="{post:post}" />
    </f:if>
</f:comment>
