<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">



<f:layout name="Detail" />


<f:section name="content">
    <f:section name="HeaderAssets">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
        <link rel="stylesheet" href="typo3conf/ext/yawave/Resources/Public/Livticker/css/style.css"/>
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Nunito Sans:200,900,800,700,600&amp;display=swap&amp;ver=1600034409">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito Sans:200,900,800,700,600&amp;display=swap&amp;ver=1600034409" media="all" onload="this.media='all'">
    </f:section>
    <f:if condition="{liveBlog}">
        <f:if condition="{liveBlog.images}">
            <f:for each="{liveBlog.images.image}" as="image">
                <div class="cover-background-header" style="background: url({image.originalresource.publicurl}) no-repeat center center fixed;">
                    <header class="masthead focuspoint">
                        <div class="layer">
                            <div class="yawave-header">
                                <div class="yawave-header-container row align-items-center">
                                    <div id='yawave-header'>
                                        <h1>{liveBlog.title}</h1>
                                        <h2>{liveBlog.description}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
            </f:for>
        </f:if>
        <div class="container col-sm-12 col-md-8" id="mainbody">
            <div id="blogid" class="d-none" value="{liveBlog.uid}"></div>
            <div id="pluginId" class="d-none" value="{contentObjectData.uid}"></div>
            <div class="verticalLine"></div>
            <header class="top_page">
                <h4>Ticker</h4>
                <small>Nächste Aktualisierung in <span id="seconds">3</span> Sekunden</small>
            </header>
            <div id="live-score-wrap"></div>
        </div>
    </f:if>
    <script src="//platform.instagram.com/en_US/embeds.js"></script>
    <script>
        (function (d, s, id) {
            var js, yjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://app.<f:format.raw>{apiDomain}</f:format.raw>/sdk/init?lang=<f:format.raw>{currentlanguage}</f:format.raw>&appId=<f:format.raw>{appId}</f:format.raw>";
            yjs.parentNode.insertBefore(js, yjs);
        }(document, 'script', 'yawave-jssdk'));
        // var lastUpdate =  Date.now(); // global parameter when the update was last performed
        var lastUpdate =  0; // global parameter when the update was last performed
        var blogId =  document.getElementById('blogid').getAttribute('value');
        var pluginId =  document.getElementById('pluginId').getAttribute('value');
        window.onload = () => {
            readJSONAjax();
        };
        var seconds = 10;
        var countdown = setInterval(function() {
            seconds--;
            document.getElementById("seconds").textContent = seconds;
            if (seconds <= 0) clearInterval(countdown);
        }, 1000);
        setInterval(readJSONAjax, 10000); //calling ajax for 30 sec



        /*
        * Ajax call
        */
        function readJSONAjax()
        {
            var xmlhttp = new XMLHttpRequest();
            var windowurl = window.location.origin;
            var url = ""+windowurl+"/?type=9997&lastUpdate="+lastUpdate+"&blogId="+blogId+"pluginId="+pluginId;

            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var myArr = JSON.parse(this.responseText);
                    prepareElements(myArr);
                    window.instgrm.Embeds.process();
                }
            };
            xmlhttp.open("GET", url, true);
            xmlhttp.send();

        }


        /*
        * Function for preparing html element
        */
        function prepareElements(arr) {

            var targetDiv = document.getElementById("live-score-wrap");
            var htmlBox;


            var out = "";
            var i;

            var maxTime = lastUpdate;

            for(i = 0; i < arr.length; i++) {

                //htmlBox = JSON.stringify(arr[i].boxElement);
                htmlBox = arr[i].boxElement;

                if (arr[i].time > lastUpdate) {
                    if (arr[i].time > maxTime) {
                        maxTime = arr[i].time;
                    }

                    if (arr[i].action == 1) {
                        /*
                        * If it is a new element, it is added to the list
                        */

                        var newItem = document.createElement("div");
                        newItem.id = arr[i].id;
                        newItem.innerHTML = htmlBox;
                        newItem.timelinetimestamp = arr[i].timelinetimestamp;

                        //out += newItem;
                        out += '<div id="' + arr[i].id + '" class="live-box" value="' + arr[i].timelinetimestamp + '">' + htmlBox + '</div>';



                    } else if (arr[i].action == 2) {
                        /*
                        * If an update is done, then only that block is bounded
                        */

                        var currentID = arr[i].id;
                        var oldElement =  document.getElementById(currentID);
                        if (oldElement)
                        {
                            oldElement.innerHTML = htmlBox;
                        }else{
                            var newItem = document.createElement("div");
                            newItem.id = arr[i].id;
                            newItem.innerHTML = htmlBox;
                            newItem.timelinetimestamp = arr[i].timelinetimestamp;

                            //out += newItem;
                            out += '<div id="' + arr[i].id + '" class="live-box" value="' + arr[i].timelinetimestamp + '">' + htmlBox + '</div>';
                        }

                    } else if (arr[i].action == 3) {
                        var currentID = arr[i].id;
                        var oldElement =  document.getElementById(currentID);
                        if (oldElement) {
                            oldElement.remove()
                        }

                    } else {

                    }
                }
            }

            lastUpdate = maxTime; //the time of the last update becomes the time of the highest value from the last list

            if (targetDiv.firstChild) {

                if(newItem) {

                    var childDivs = targetDiv.getElementsByClassName('live-box');
                    var curenDivTimeLine = 0;

                    for( i=0; i < childDivs.length; i++ ) {

                            curenDivID = childDivs[i].id;
                            curenDivTimeLine = childDivs[i].getAttribute('value');

                            if(curenDivTimeLine <= newItem.timelinetimestamp) {

                                targetDiv.insertBefore(newItem, childDivs[i]); //print the results

                                i = childDivs.length;
                            }
                    }

                    //targetDiv.insertBefore(newItem, targetDiv.firstChild); //print the results
                }

            } else {
                targetDiv.innerHTML = out + targetDiv.innerHTML; //print the results
            }
        }


    </script>
</f:section>
</html>