<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">


    <f:if condition="{liveBlogs}">
        <f:then>
            <f:for each="{liveBlogs}" as="liveBlog">
                <f:render partial="List/Blog" arguments="{liveBlog: liveBlog}" />
            </f:for>
        </f:then>
        <f:else>
            <div class="no-news-found">
                <f:translate key="livticker_nonewsfound" />
            </div>
        </f:else>
    </f:if>

</f:section>
</html>