*{
    margin:0px;
    padding:0px;
}
header{
    height: 50px;  
}
body{
    background-color: #edeff4;
    font-family:'Nunito Sans',sans-serif;
}
.cover-background-header{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 500px;
}
.top_page{
    background-color: #fff;
    margin-top: 15px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 5px;
    height: 85px;
    border-left: 7px solid #1e457c;   
}
body #logomin{
    width:38px;
    height:50px;
    float:right;
    margin-right:20px;
    margin-top: 17px;
}
.liveticker-substituted-out-button {
    background: #ef462f;
    color: #fff;
    border-radius: 10px;
    padding: 1px 0;
    font-size: 10px;
    text-transform: uppercase;
    width: 49px;
    margin-right: 10px;
    display: inline-block;
    line-height: 17px;
    text-align: center;
}
.liveticker-substituted-in-button {
    background: #2fb55b;
    color: #fff;
    border-radius: 10px;
    padding: 1px 0;
    font-size: 10px;
    text-transform: uppercase;
    width: 49px;
    margin-right: 10px;
    display: inline-block;
    line-height: 17px;
    text-align: center;
}
header p{
    float: right;
    margin-top: 27px;
}
.top_page small{
    float: left;
    margin-left: -56px;
    position: absolute;
    bottom: 10px;
}
.top_page p{
    margin-right: 10px;
}
.top_page h4{
    text-transform: uppercase;
    font-weight: 800;
    font-size: medium;
    margin-top: 25px;
    margin-left: 30px;
}
header h4{
    float: left;
    font-size: medium;  
}
body #live-score{
    background-color: #fff;
    border-radius: 5px;
}
body .live-score_content {
    padding: 24px;
    position: relative;
}
body .live-score_content img{
    width: 100%;
}
.info{
    display: inline-table;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 22px 23px;
    border-radius: 4px 4px 0 0;
    position: relative;
    border-bottom: 1px solid #e4e7ed;
    overflow: hidden;
    background-color: transparent;
}
.info span{
    text-align: center;
    font-size: x-small ;
    border-radius: 18px;
    color: #1e457c;
    border: 1px solid #1e457c;
    padding: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 12px;
    font-weight: 800;  
}
hr{
    margin-top: 5%;
}
.info  h4{
    text-transform: uppercase;
    position: relative;
    font-weight: 800;
    font-size: medium;
    margin-top: 10px;  
}
.description p{
    width: 100%;
}
.team-logo{
    width: 50px;
    height:50px;
    margin-left: 30px;
    margin-top: 12px;
}
.live-score_textarea{
    margin-top: 40px;
    margin-left: 15px;
    margin-bottom: 40px;
}
.live-score_textarea .text{
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Nunito Sans';
    font: 800;
    font-weight: bold;
    color: #1e457c;
    background-color: #edeff4;
}
.live-score_textarea .score{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 30px;
    color: #fff;
    background-color: #1e457c;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 58px;
    margin-top: 8px;
    border-radius: 5px;  
}
.game-description{
    background-color: #fff;
    margin-top: 20px;
}
.game-icon{
    width: 20px;
    margin-left: 10px;
}
.game-time span {
    border: 1px solid #1e457c;
    border-radius: 15px;
    padding:0.3rem;  
}
.game-time{ 
   
    font-size: x-small;
    margin-top: 37px;
    margin-left: 40px;
    font-weight: bold;
    color: #1e457c; 
}
.game-description h4{
    font-weight: bold;
    font-size: medium;
    margin-left: 15px;
    padding-top: 35px;
    text-transform: uppercase;
}
.information{
    padding: 24px;
    position: relative;  
}
.game-information{
    margin-left: 10px; 
}
.game-description hr{
    margin-top: 30px;
}
#mainbody{
    position: relative;
    z-index: 99;     
}
.verticalLine{
    border-left: 4px solid #1e457c;
    height:100%;
    position: absolute;
    top:0;
    z-index: -1;
    left:5.5%;
}
#instagram-page{
    background-color: #fff;
    margin-top: 20px;
    width: 100%;
    padding-bottom: 30px;
}
#instagram-page .text_desc{
    width: 100%;
    margin-left: 25px;
    margin-top: 30px;
}
.text_desc iframe{
    height: 1000px;
    background: white;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgb(219, 219, 219);
    margin-top: 25px;
    padding: 0.5px;
    position: relative;
}
#video{
    background-color: #fff;
    margin-top: 20px;
    width: 100%;
}
.video-desc iframe{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 15px;
    padding-bottom: 24px;
    border: none;
    height: 530px;
    width: 100%;
    position: relative;
}
.video-desc p{
    margin-top: 30px;
    margin-left: 25px;
}
#picture-link{
    margin-top: 20px;
    background-color: #fff;
}
.picture-player{
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    padding-bottom: 24px;
    margin-bottom: 20px;
    margin-top: -10px;
}
.picture-player_2{
    background-image: url(../images/picturelink.png);
    background-size: cover !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    
}
.picture-player_2 #color{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

 #player-header h1 a{
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: "Nunito Sans";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 35px;
    padding-top: 130px;
    
    
}
#player-header h2 a{
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 23px;
}
#picture-buttons{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.btn{
    background-color: #1E467D;
    font-family: 'Nunito Sans' !important;
    font-weight: 600!important;
    font-size: 20px!important;
    line-height: 16px!important;
    color: #FFFFFF;
    padding: 15px 16px 15px 35px;
}
.picture-desc{
    position: relative;
    padding: 24px;
    
} .picture-icon{
    width: 20px;
    margin-top: 10px;
}
.icons-icons{
    font-weight: 700;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}
.picture-icons{
    width: 16px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-left: 35px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}
#picture-buttons img{
    width: 20px;
    
    
}
/*odavde slika sa 2 linka*/

#picture-link2{
    margin-top: 20px;
    background-color: #fff;
}
#picture-link2 header{
    border-bottom: 0;
    padding-bottom: 30px;
}

.picture-player2{
    position: relative;
    margin-bottom: 20px;
    margin-top: -10px;
}
.picture-player_2-2{
    background-image: url(../images/picture-football.jpg);
    background-size: cover !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    
}
.icon-arrow .bi{
    color: #fff;
    background-color: #1e457c;
    width: 30px;
    height: 30px;
    text-decoration: none;
    font-weight: 100;
    
}
.icon-arrow{
    background-color: #1e457c;
    
    border-radius: 30px;
    float: right;
    margin-right: 30px;
    padding: 13px;
    margin-top: -50px;
}
.picture-player_2-2 #color2{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

 #player-header2 h1 a{
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Nunito Sans";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 30px;
    
    
}
#player-header2 h2 a{
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 23px;
    padding-top: 90px;
}
#player-header2 h3{
    color: #fff;
    justify-content: center;
    text-align: center;
    font-family: 'Nunito Sans';
    font-size: 17px;
    padding-top: 60px;
    
    
}
#picture-buttons2{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.btn{
    background-color: #fff;
    font-family: 'Nunito Sans' !important;
    font-weight: 800!important;
    font-size: 16px!important;
    line-height: 16px!important;
    color: #1e457c;
    text-transform: uppercase;
    padding: 10px 18px 10px 18px;
    margin-right: 30px;
}
.btn2{
    background-color: #fff;
    font-family: 'Nunito Sans' !important;
    font-weight: 800!important;
    font-size: 16px!important;
    line-height: 16px!important;
    color: #1e457c;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 10px 18px 10px 18px;
    margin-left: -5px; 
}
#picture-link2 h4{
    font-size: 20px
}
.picture-desc2{
    position: relative;
    padding: 24px;
    
} 
.picture-icon2{
    width: 20px;
}
.icons-icons2{
    font-weight: 700;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    
}
.picture-icons2{
    width: 16px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-left: 40px;
    display: flex;
    justify-content: center; 
}

#picture-buttons2 img{
    width: 20px;
    
    
}
/*odavde slika sa 3 dugmeta*/
#picture-link3{
    margin-top: 20px;
    background-color: #fff;
}
#picture-link3 header{
    border-bottom: 0;
    padding-bottom: 30px;
}

.picture-player3{
    position: relative;
    margin-bottom: 20px;
    margin-top: -10px;
}
.picture-player_2-3{
    background-image: url(../images/picture-ball.jpg);
    background-size: cover !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    
}
.picture-player_2-3 #color3{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

 #player-header3 h1 a{
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Nunito Sans";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 90px;
    
    
}
#player-header3 h2 a{
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 23px;
    padding-top: 30px;
}
#player-header3 h3{
    color: #fff;
    justify-content: center;
    text-align: center;
    font-family: 'Nunito Sans';
    font-size: 17px;
    
    
}
#picture-buttons3{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.btn{
    background-color: #fff;
    font-family: 'Nunito Sans' !important;
    font-weight: 800!important;
    font-size: 16px!important;
    line-height: 16px!important;
    color: #1e457c;
    text-transform: uppercase;
    padding: 10px 18px 10px 18px;
    margin-right: 30px;
}
.btn2{
    background-color: #fff;
    font-family: 'Nunito Sans' !important;
    font-weight: 800!important;
    font-size: 16px!important;
    line-height: 16px!important;
    color: #1e457c;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 10px 18px 10px 18px;
    margin-left: -5px; 
}
.btn3{
    background-color: #fff;
    font-family: 'Nunito Sans' !important;
    font-weight: 800!important;
    font-size: 16px!important;
    line-height: 16px!important;
    color: #1e457c;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 10px 18px 10px 18px;
    margin-left: 20px;
    

}
#picture-link3 h4{
    font-size: 20px
}
.picture-desc3{
    position: relative;
    padding: 24px;
    
}
 .picture-icon3{
    width: 20px;
}
.icons-icons3{
    font-weight: 700;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-right: 50px;
    
}
.picture-icons3{
    width: 16px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-left: 35px;
    display: flex;
    justify-content: center;

    
}
#picture-buttons3 img{
    width: 20px;
    
    
}
/*slika sa 1 dugmetom*/
#picture-link4{
    margin-top: 20px;
    background-color: #fff;
}
#picture-link4 header{
    border-bottom: 0;
    padding-bottom: 30px;
}

.picture-player4{
    position: relative;
    margin-bottom: 20px;
    margin-top: -10px;
}
.picture-player_2-4{
    background-image: url(../images/picture-stadium.jpg);
    background-size: cover !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    
}
.picture-player_2-4 #color4{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

 #player-header4 h1 a{
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Nunito Sans";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 90px;
    
    
}
#player-header4 h2 a{
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 23px;
    padding-top: 30px;
}
#player-header4 h3{
    color: #fff;
    justify-content: center;
    text-align: center;
    font-family: 'Nunito Sans';
    font-size: 17px;
    
    
}
#picture-buttons4{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.btn4{
    background-color: #fff;
    font-family: 'Nunito Sans' !important;
    font-weight: 800!important;
    font-size: 16px!important;
    line-height: 16px!important;
    color: #1e457c;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 10px 18px 10px 18px;
    margin-left: -5px; 
}
#picture-link4 h4{
    font-size: 20px
}
.picture-desc4{
    position: relative;
    padding: 24px;
    
} 
.picture-icon4{
    width: 20px;
}
.icons-icons4{
    font-weight: 700;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-right: 40px;
    
}
.picture-icons4{
    width: 16px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-left: 40px;
    display: flex;
    justify-content: center;

    
}
#picture-buttons4 img{
    width: 20px;
    
    
}
/*picture -new*/
#picture-new{
    margin-top: 20px;
    background-color: #fff;
}
.picture-new1{
    position: relative;
    margin-bottom: 20px;
    margin-top: -10px;
}
#picture-new{
    background-image: url(../images/picture-stadium.jpg);
    background-size: cover !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    
}
.picture-content{
    padding: 0 0 0 24px;
    height: 300px;
    position: relative;
    display: block;
}
.player-br{
    color: #fff;
    font-size: 85px;
    font-family: "Nunito Sans";
    font-weight: 800;
    display: inline-block;
    margin-right: 20px;
    margin-top: 50px;
    
}
.player-name-name{
    font-family: "Nunito Sans";
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
}
.player-name-name .firstname {
    font-size: 25px;
    color: #fff;
}
.player-name-name span {
    display: block;
}
.player-name-name .lastname {
    font-size: 45px;
    color: #f9db08; 
}
.picture-goal-info{
    color: #fff;
    font-weight: normal;
    max-width: 460px;
    
}

.picture-new2 #color-color{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}
#picture-new .info{
    border-bottom: 0;
    color: #fff;
}
#picture-new .info span{
    color: #fff;
    border: 1px solid #fff;

}
/*Odavde video bez paddinga*/
#video-new{
    background-color: #fff;
    margin-top: 20px;
    width: 100%;
}
.video-desc-new iframe{
    border: none;
    height: 530px;
    width: 100%;
    position: relative;
}
#video-new .info{
    border-bottom: 0;
    color: #fff;
}
#video-new .info span{
    color: #fff;
    border: 1px solid #fff;
}
.color-name{
    background: #2fb55b;
    color: #fff;
    border-radius: 10px;
    padding: 1px 0;
    font-size: 10px;
    text-transform: uppercase;
    width: 49px;
    margin-right: 10px;
    display: inline-block;
    line-height: 17px;
    text-align: center;
    margin-left: 115px;
}
.tasar{
    margin-left: 20px;
}
.balaruban{
    margin-left: 20px;
}
.rein-rein{
    margin-top: 30px;
}
.color-name2{
    background: #ef462f;
    color: #fff;
    border-radius: 10px;
    padding: 1px 0;
    font-size: 10px;
    text-transform: uppercase;
    width: 49px;
    margin-right: 10px;
    display: inline-block;
    line-height: 17px;
    text-align: center;
    margin-left: 70px;
    }





















@media screen and (max-width:3000px) and (min-width:1400px){
    .video-desc iframe{
       max-height:1000px;
    }
    .text_desc iframe {
        max-height:1580px;
    
    }
    .verticalLine{
        left:3%;
    }       
}
@media screen and (max-width:1400px) and (min-width:980px){

    .text_desc iframe{
        max-height:1030px;
    }
    .video-desc iframe{
        max-height:600px;
    }
    
}
@media screen and (max-width:979px){
    .live-score_textarea .text{
        font-size: 35px;
    }
    .live-score_textarea .score{
        font-size: 30px;
        height:40px;
        padding:1rem;
    }
    .team-logo{
        width:40px;
        height:40px;
        margin-top: 8px;
    }
    .text_desc iframe{
        max-height:820px;
    }

    .verticalLine{
        left:6%;
    }   
}
@media screen and (max-width:770px) and (min-width:480){
    .live-score_textarea .text{
        font-size: 30px;
    }
    .live-score_textarea .score{
        font-size: 30px;
        height:35px;
        padding:1rem;
        margin-top: 5.5px;
    }
    .team-logo{
        width:35px;
        height:35px;
        margin-top: 6px;
    }
    .text_desc iframe{
        max-height:710px;
    }
    .verticalLine{
        left:7.4%;
    }
    .information{
        font-size: 17px;
    }
    .game-description h4{
        margin-top: 0px;
    }
    .top_page h4{
        margin-left: 0px;
    }
}

@media only screen and (max-width:380px) and (min-width:319px){
    .col-xs-12{
        position: relative;
        width: 100%;
    }
    .top_page{
        padding-left:20px;
        height:90px;
    }
    .top_page small{
        margin-top: 20px;
        float: left;
        font-size:12px;
    }
    .top_page p{
        display: none;
    }
    .top_page h4{
        margin-left: 0;
        
    }
    .info h4{
        font-size: 12px;
        margin-top: 16px;
        font-weight: 800;
    }
    .game-description h4{
        padding-top:3px;
        font-size: 12px;
        font-weight: 800;
    }
    .info h3{
        text-transform: uppercase;
        position: relative;
        left:50px;
        font-weight: bold;
        margin-top:1.2%;
        font-size: medium; 
    }
    .live-score_textarea .text{
        font-size: medium;
    }
    .live-score_textarea .score{
        font-size: medium;
        height: 40px;
        padding: 0.5rem;
        padding-right: 0.8rem;
        padding-left: 0.8rem;
        margin-top: 5px;
        margin-left: 30px;
        margin-right: 15px;
    }
    .team-logo{
        width:40px;
        height:40px;
       margin-left: 10px;
       margin-right: 22px;
       margin-top: 3px;
    }
    .live-score_textarea .score{
        margin-left: 3px;   
    }
    .text_desc iframe{
        max-height:690px;
        margin-top: 10px;
    }
    .text_desc p{
        margin-right: 23px;
    }
    .verticalLine{
        left: 20px;
    }
    .information{
        font-size: 17px;
        margin-top: -10px;
    }
    .game-description h4{
        margin-top: 34px;
    }
    .video-desc p{
        margin-top: 30px;
        padding:0;
    }
    .video-desc iframe{
        margin-top: -15px;
        max-height:200px;
    }
    .team-logo{
        background-color: #edeff4;
    }
    .game-icon{
        margin-left: 8px;
    }


}

@media only screen and (max-width:400px) and (min-width:374px){
    .text_desc iframe{
        height:720px;
    }
    .video-desc iframe{
        max-height:220px;
    }

    
}
@media only screen and (max-width: 480px){
.liveticker-textarea {
        font-size: small;
     }
     .top_page p{
        display: none;
        margin-left: 15px;
    }
    .top_page h4{
        margin-left: 15px;
    }
    .live-score_textarea .text{
        font-size: 17px;
    }
    .live-score_textarea .score{
        font-size: 17px;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        background-color: #1e457c;
        height: 35px;
        border-radius: 5px;  
        padding: 6px 12px;
        display: inline-block;
        margin: 0 10px;
        margin-left: 15px;
    }
    .team-logo{
        margin: 0 10px;
        margin-left: 15px;
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }
    .verticalLine{
        margin-left: 18px;
    }
    .text_desc iframe{
       max-height: 730px;
        
    }
    .video-desc iframe{
        scroll-behavior: none;
        height: 250px;
        
    }
}
@media only screen and (max-width:382px) and (min-width:320px){
    .top_page small{
        margin-left: 0px;
        margin-top: 0px;
    }
    .top_page h4{
        margin-left: 0px;
    }
    .team-logo{
        width:25px;
        height:25px;
       margin-left: 7px;
       margin-right: 3px;
       margin-top: 3px;
    }

    .live-score_textarea .text{
        font-size: 15px;
    }
    .live-score_textarea .score{
        font-size: 16px;
        height: 25px;
        margin-top: 2px;
        margin-left: 15px;
    }
    #player-header h1 a{
        color: #fff;
        display: flex;
        justify-content: center;
        font-family: "Nunito Sans";
        font-weight: 800;
        text-transform: uppercase;
        font-size: 20px;
        padding-top: 130px;   
    }
    #player-header h2 a{
        color: #fff;
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 14px;
    }
    
}
@media only screen and (max-width:368px) and (min-width:384px){
    .top_page h4{
        margin-left: 5px;
    }
    .top_page small{
        margin-top: 20px;
    }
}
@media only screen and (min-width:1401px) and (max-width:2350px){
    .text_desc iframe{
      min-width:326px;
      max-width: 540px;  
    }
}
@media only screen and (min-width:480px) and (max-width:571px){
    .live-score_textarea .text{
        font-size: 17px;
    }
    .live-score_textarea .score{
        font-size: 17px;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        background-color: #1e457c;
        height: 35px;
        border-radius: 5px;  
        padding: 6px 12px;
        display: inline-block;
        margin: 0 10px;
        margin-left: 15px;
    }
    .team-logo{
        margin: 0 10px;
        margin-left: 15px;
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }

}
@media screen and (min-width:766px) and (max-width:894px){
    .live-score_textarea .text{
        font-size: 17px;
    }
    .live-score_textarea .score{
        font-size: 27px;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        background-color: #1e457c;
        height: 35px;
        border-radius: 5px;  
        padding: 6px 12px;
        display: inline-block;
        margin: 0 10px;
        margin-left: 15px;
    }
    .team-logo{
        margin: 0 10px;
        margin-left: 15px;
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }
   
}







