<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Backend/Default" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
   <f:be.container
           includeCssFiles="{
            0: '{f:uri.resource(path:\'Css/bootstrap.min.css\')}',
            1: '{f:uri.resource(path:\'Css/yawave-be.css\')}'
           }">
      <div class="col-12 pt-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item {f:if(condition: active, then: '', else: 'active')} {f:if(condition: '{active} == configuration', then: 'active', else: '')}">
                <a class="nav-link" id="configuration-tab" data-toggle="tab" href="#configuration" role="tab" aria-controls="configuration" aria-selected="{f:if(condition: active, then: '', else: 'true')} {f:if(condition: {active} == 'configuration', then: 'true', else: 'false')}">
                    <h2>Configuration</h2>
                </a>
            </li>
            <li class="nav-item {f:if(condition: '{active} == language', then: 'active', else: '')}">
                <a class="nav-link" id="language-tab" data-toggle="tab" href="#language" role="tab" aria-controls="language" aria-selected="{f:if(condition: {active} == 'language', then: 'true', else: 'false')}">
                    <h2>Language</h2>
                </a>
            </li>
            <li class="nav-item {f:if(condition: '{active} == insert', then: 'active', else: '')}">
                <a class="nav-link" id="insert-tab" data-toggle="tab" href="#insert" role="tab" aria-controls="insert" aria-selected="{f:if(condition: {active} == 'insert', then: 'true', else: 'false')}">
                    <h2>Insert</h2>
                </a>
            </li>
            <li class="nav-item {f:if(condition: '{active} == delete', then: 'active', else: '')}">
              <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="{f:if(condition: {active} == 'settings', then: 'true', else: 'false')}">
                  <h2 class="text-danger">Delete</h2>
              </a>
            </li>
        </ul>
        <div class="tab-content pt-5 pl-4 pr-4 pb-4 d-flex" id="myTabContent">
            <div class="tab-pane col-12 col-lg-8 row fade {f:if(condition: '{active} == configuration', then: 'active in', else: '')} {f:if(condition: active, then: '', else: 'active in')}" id="configuration" role="tabpanel" aria-labelledby="configuration-tab">
                <h3>Enable features</h3>
                <f:if condition="{active} == configuration">
                    <div class="d-inline">
                        <f:flashMessages />
                    </div>
                </f:if>
                <f:if condition="{active}">
                    <f:then></f:then>
                    <f:else>
                        <div class="d-inline">
                            <f:flashMessages />
                        </div>
                    </f:else>
                </f:if>
                <f:form action="extensionSettings" enctype="multipart/form-data" name="settings" object="{settings}" arguments="{active:'configuration'}" >
                    <div class="form-group">
                        <label><f:translate key="LLL:EXT:yawave/Resources/Private/Language/locallang_be.xlf:TokenHook"/></label>
                        <f:form.textfield class="form-control" name="hooktoken" property="hooktoken" placeholder="Hook Token" />
                    </div>
                    <div class="form-group">
                        <label><f:translate key="LLL:EXT:yawave/Resources/Private/Language/locallang_be.xlf:ApiId"/></label>
                        <f:form.textfield class="form-control" name="clientId" property="clientId" placeholder="App Id" />
                        <small class="form-text text-muted"><f:translate key="LLL:EXT:yawave/Resources/Private/Language/locallang_be.xlf:YawaveClientId"/></small>
                    </div>
                    <div class="form-group">
                        <label><f:translate key="LLL:EXT:yawave/Resources/Private/Language/locallang_be.xlf:YawaveSecret"/></label>
                        <f:form.textfield class="form-control" name="secret" property="secret" placeholder="Yawave Secret (App Secret)" />
                    </div>
                    <div class="form-group">
                        <label><f:translate key="LLL:EXT:yawave/Resources/Private/Language/locallang_be.xlf:storagepPid"/></label>
                        <f:form.textfield class="form-control" name="storagePid" property="storagePid" placeholder="Set Storage Pid" />
                    </div>
                    <div class="form-group">
                        <label><f:translate key="LLL:EXT:yawave/Resources/Private/Language/locallang_be.xlf:YawaveApiDomain"/></label>
                        <f:form.select class="custom-select my-1 mr-sm-2" name="apiDomain" property="apiDomain"  value="{settings.apiDomain}">
                            <f:form.select.option value="yawave.com">sso.yawave.com</f:form.select.option>
                            <f:form.select.option value="test-yawave.com">sso.test-yawave.com</f:form.select.option>
                        </f:form.select>

                    </div>
                    <f:form.submit id="btn" class="btn btn-lg mt-3" value="Submit" name="Save"/>
                </f:form>
            </div>
            <div class="tab-pane col-12 col-lg-8 row fade {f:if(condition: '{active} == language', then: 'active in', else: '')}" id="language" role="tabpanel" aria-labelledby="language-tab">
                <f:if condition="{active} == language">
                    <div class="d-inline">
                        <f:flashMessages />
                    </div>
                </f:if>
                <h3>
                    <f:translate key="LLL:EXT:yawave/Resources/Private/Language/locallang_be.xlf:language"/>
                </h3>
                <f:form action="extensionSettings" enctype="multipart/form-data" name="settings" object="{settings}" arguments="{active:'language'}">
                    <f:for each="{languages}" as="language" iteration="iterator">
                        <div class="form-check">
                            <f:form.checkbox class="form-input" property="languageIds" value="{language.languageId}" multiple="1"/>
                            <label class="form-check-label">{language.title}</label>
                        </div>
                    </f:for>
                    <f:form.submit id="btn" class="btn btn-lg mt-3" value="Submit" name="Save"/>
                </f:form>
            </div>
            <div class="tab-pane col-12 col-lg-8 row fade {f:if(condition: '{active} == insert', then: 'active in', else: '')}" id="insert" role="tabpanel" aria-labelledby="insert-tab">
                <f:if condition="{active} == insert">
                    <div class="d-inline">
                        <f:flashMessages />
                    </div>
                </f:if>
                <h3>
                    <f:translate key="LLL:EXT:yawave/Resources/Private/Language/locallang_db.xlf:insert"/>
                </h3>
                <f:form action="extensionConfiguration" arguments="{addTables:addTables,active:'insert'}" >
                    <div class="form-group">
                        <f:form.hidden name="addTables" value="addTables"/>
                    </div>
                    <f:form.submit  id="btn" class="btn btn-lg mt-3" value="Insert" name="Insert"/>
                </f:form>
            </div>
            <div class="tab-pane col-12 col-lg-8 row fade {f:if(condition: '{active} == delete', then: 'active in', else: '')}" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <f:if condition="{active} == delete">
                    <div class="d-inline">
                        <f:flashMessages />
                    </div>
                </f:if>
                <h3>
                    <f:translate key="LLL:EXT:yawave/Resources/Private/Language/locallang_db.xlf:be_message"/>
                </h3>
                <button type="button" id="btn" class="btn btn-lg mt-3" data-toggle="modal" data-target="#exampleModal">
                  Delete
                </button>
            </div>
        </div>

      </div>
       <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete Yawave data for database</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                   </div>
                   <f:form action="extensionConfiguration" arguments="{emptyTables:emptyTables,active:'delete'}">
                       <div class="modal-body">
                           <div class="form-group">
                               <f:form.hidden name="emptyTables" value="emptyTables"/>
                           </div>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                               Abort
                           </button>
                           <f:form.submit class="btn btn-danger" value="Submit" name="Delete"/>
                       </div>
                   </f:form>
               </div>
           </div>
       </div>
   </f:be.container>
</f:section>

</html>