input#btn,
button#btn {
    background-color: #3197d8;
    color: #FFFFFF;
}

input#btn:hover,
button#btn:hover {
    opacity: 0.7;
}

.nav-tabs {
    background-color: #FFFFFF;
}

div#myTabContent {
    border-color: #fff #dee2e6 #dee2e6 #dee2e6;
    border-style: solid;
    border-width: 1px;
}
.nav-tabs a.nav-link {
    color: #3197d8;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:active,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #ffffff;
}

.nav-tabs > li.active > a {
    border-bottom-color: transparent;

}